{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}}
 :aliases
 {:run-m {:main-opts ["-m" "barandis.euler"]}
  :p1 {:ns-default barandis.euler.p1 :exec-fn solve}
  :p2 {:ns-default barandis.euler.p2 :exec-fn solve}
  :p3 {:ns-default barandis.euler.p3 :exec-fn solve}
  :p4 {:ns-default barandis.euler.p4 :exec-fn solve}
  :p5 {:ns-default barandis.euler.p5 :exec-fn solve}
  :p6 {:ns-default barandis.euler.p6 :exec-fn solve}
  :p7 {:ns-default barandis.euler.p7 :exec-fn solve}
  :p8 {:ns-default barandis.euler.p8 :exec-fn solve}
  :p9 {:ns-default barandis.euler.p9 :exec-fn solve}
  :p10 {:ns-default barandis.euler.p10 :exec-fn solve}
  :p11 {:ns-default barandis.euler.p11 :exec-fn solve}
  :p12 {:ns-default barandis.euler.p12 :exec-fn solve}
  :p757 {:ns-default barandis.euler.p757 :exec-fn solve :jvm-opts ["-Xmx4G"]}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                      io.github.cognitect-labs/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner"
                       :sha "62ef1de18e076903374306060ac0e8a752e57c86"}}
         :exec-fn cognitect.test-runner.api/test}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.278"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true
                        :jar "euler.jar"
                        :main-class "barandis.euler"}}}}
